.find-organizations,
.home1 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  cursor: pointer;
}
.home1 {
  display: inline-block;
  min-width: 57px;
}
.find-organizations {
  white-space: nowrap;
}
.home-navigation-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
}
.events2 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 65px;
  cursor: pointer;
}
.home-navigation-links1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
}
.donate2 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 69px;
  cursor: pointer;
}
.home-navigation,
.navigation-menu {
  display: flex;
  align-items: flex-start;
}
.navigation-menu {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.home-navigation {
  width: 530px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.logo-1-icon2 {
  height: 71px;
  width: 68px;
  position: relative;
  object-fit: cover;
}
.navigation2 {
  align-self: stretch;
  background-color: var(--color-cadetblue);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-9xl) var(--padding-xl) 27px 22px;
  box-sizing: border-box;
  gap: 642px;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: left;
  font-size: var(--body-text-size);
  color: var(--white);
  font-family: var(--body-text);
}
.discover {
  align-self: stretch;
  position: relative;
  line-height: 31px;
  font-weight: 300;
}
.find-opportunities-to,
.volunteer-and-give {
  margin: 0;
}
.find-opportunities-to-container1 {
  width: 100%;
}
.find-opportunities-to-container {
  margin: 0;
  width: 514px;
  height: 84px;
  position: relative;
  font-size: var(--font-size-17xl);
  line-height: 150%;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
}
.discover-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xl);
  max-width: 100%;
}
.discover-local-volunteer {
  width: 514px;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 150%;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.volunteer-opportunities {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
  max-width: 100%;
}
.learn-more {
  position: relative;
  font-size: var(--body-text-size);
  letter-spacing: 0.05em;
  line-height: 150%;
  font-weight: 900;
  font-family: var(--body-text);
  color: var(--color-whitesmoke);
  text-align: center;
  display: inline-block;
  min-width: 123px;
  cursor: pointer;
}
.button5 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-4xl);
  background-color: var(--color-darkslategray-100);
  box-shadow: var(--button-shadow);
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.button5:hover {
  background-color: var(--color-teal);
}
.forward-icon {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button-parent,
.forward-button {
  display: flex;
  align-items: flex-start;
}
.forward-button {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-mid) 0 0;
}
.button-parent {
  width: 324px;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.section-1-inner,
.volunteer-opportunities-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.volunteer-opportunities-parent {
  align-self: stretch;
  gap: 65px;
}
.section-1-inner {
  flex: 1;
  padding: var(--padding-18xl) 0 0;
  box-sizing: border-box;
  min-width: 398px;
}
.image-2-icon,
.section-1 {
  overflow: hidden;
  max-width: 100%;
}
.image-2-icon {
  height: 571px;
  flex: 1;
  position: relative;
  border-radius: var(--br-xs);
  object-fit: cover;
  min-width: 404px;
}
.section-1 {
  width: 1394px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-43xl) 80px var(--padding-26xl);
  box-sizing: border-box;
  row-gap: 20px;
}
.find-volunteer-opportunities {
  margin: 0;
  width: 794px;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.opportunities-title {
  width: 1228px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.filter-one {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fdfdfb;
  width: 1306px;
  height: 474px;
}
.filter-options-icon,
.filter-options-icon1,
.filter-two-icon {
  position: absolute;
  top: 18px;
  left: 35px;
  border-radius: var(--br-xs);
  width: 392px;
  height: 486px;
  object-fit: cover;
  z-index: 1;
}
.filter-options-icon,
.filter-options-icon1 {
  top: 19px;
  left: 468px;
  width: 393px;
  height: 485px;
}
.filter-options-icon1 {
  left: 902px;
  width: 373px;
}
.opportunities-images {
  align-self: stretch;
  height: 504px;
  position: relative;
}
.childrens-homes {
  align-self: stretch;
  position: relative;
  line-height: 110%;
  font-weight: 600;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.category-items {
  width: 344px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.hospitals-clinics {
  align-self: stretch;
  position: relative;
  line-height: 110%;
  font-weight: 600;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.category-items1 {
  width: 358px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-sm) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.elderly-homes {
  width: 344px;
  position: relative;
  line-height: 110%;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
}
.category-list,
.opportunity-categories {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.category-list {
  justify-content: flex-start;
  gap: var(--gap-59xl);
}
.opportunity-categories {
  justify-content: flex-end;
  padding: 0 48px 0 var(--padding-37xl);
  box-sizing: border-box;
  font-size: var(--font-size-5xl);
}
.opportunities-intro {
  width: 1306px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-10xl);
  max-width: 100%;
}
.volunteer-now {
  position: relative;
  font-size: var(--body-text-size);
  letter-spacing: 0.1em;
  line-height: 150%;
  font-weight: 800;
  font-family: var(--body-text);
  color: var(--color-darkslategray-100);
  text-align: center;
}
.button6,
.volunteer-now-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button6 {
  cursor: pointer;
  border: 3px solid var(--color-darkslategray-100);
  padding: var(--padding-3xs) var(--padding-44xl) var(--padding-3xs) 67px;
  background-color: var(--white);
  box-shadow: var(--button-shadow);
  border-radius: var(--br-3xs);
  justify-content: flex-start;
  white-space: nowrap;
}
.button6:hover {
  background-color: #e6e6e6;
  border: 3px solid var(--color-teal);
  box-sizing: border-box;
}
.volunteer-now-button {
  width: 1300px;
  justify-content: center;
  max-width: 100%;
}
.opportunities {
  flex: 1;
  background-color: var(--white);
  overflow: hidden;
  flex-direction: column;
  padding: 81px var(--padding-9xl) var(--padding-32xl);
  gap: 76px;
  max-width: 100%;
}
.opportunities,
.opportunities-wrapper,
.section-1-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.opportunities-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-17xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--heading-size);
}
.section-1-parent {
  margin-left: -8px;
  width: 1472px;
  flex-direction: column;
  padding: 0 0 46px;
  gap: 9px;
  max-width: 103%;
  flex-shrink: 0;
}
.heading {
  width: 733px;
  display: none;
  max-width: 100%;
}
.current-events {
  width: 794px;
  position: relative;
  line-height: 110%;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.events-title {
  width: 1130px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.event-images-icon,
.planting-trees {
  align-self: stretch;
  position: relative;
}
.planting-trees {
  font-size: var(--body-text-size);
  line-height: 150%;
  font-weight: 500;
  color: var(--color-darkslategray-100);
  text-align: center;
}
.event-images-icon {
  height: 211px;
  border-radius: var(--br-8xs);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.date-20062024,
.location-nairobi-karura,
.time-1000-am {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.time-1000-am {
  display: inline-block;
  min-width: 120px;
  white-space: nowrap;
}
.events4 {
  box-shadow: -4px 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-xs);
  background-color: var(--white);
  border: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-12xl) var(--padding-24xl);
  gap: var(--gap-3xs);
  max-width: 100%;
}
.childrens-clothes-donation {
  align-self: stretch;
  position: relative;
  font-size: var(--body-text-size);
  line-height: 150%;
  font-weight: 500;
  color: var(--color-darkslategray-100);
  text-align: center;
}
.events-child {
  align-self: stretch;
  height: 211px;
  position: relative;
  border-radius: var(--br-8xs);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.date-12062024,
.location-nairobi-zimmerman,
.time-0700-to {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.time-0700-to {
  white-space: pre-wrap;
  flex-shrink: 0;
}
.events5 {
  box-shadow: -4px 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-xs);
  background-color: var(--white);
  border: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-12xl) var(--padding-24xl);
  gap: var(--gap-3xs);
  max-width: 100%;
}
.events-item,
.usiu-frieda-browns {
  align-self: stretch;
  position: relative;
}
.usiu-frieda-browns {
  font-size: var(--body-text-size);
  line-height: 150%;
  font-weight: 500;
  color: var(--color-darkslategray-100);
  text-align: center;
}
.events-item {
  height: 211px;
  border-radius: var(--br-8xs);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.date-200620241,
.location-nairobi-roysambu,
.time-1000pm {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.time-1000pm {
  display: inline-block;
  min-width: 114px;
  white-space: nowrap;
}
.cards,
.events6 {
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.events6 {
  box-shadow: -4px 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-xs);
  background-color: var(--white);
  border: 1px solid var(--color-whitesmoke);
  display: flex;
  flex-direction: column;
  padding: var(--padding-11xl) var(--padding-12xl) var(--padding-24xl);
  gap: var(--gap-3xs);
}
.cards {
  align-self: stretch;
  display: grid;
  flex-direction: row;
  padding: 0 0 75px;
  gap: var(--spacing-sm);
  grid-template-columns: repeat(3, minmax(289px, 1fr));
}
.more-events {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 150%;
  font-weight: 800;
}
.button7 {
  width: 318px;
  box-shadow: var(--button-shadow);
  border-radius: var(--br-3xs);
  background-color: var(--white);
  border: 3px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
  white-space: nowrap;
  cursor: pointer;
}
.events-list,
.events3,
.more-events-button {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.more-events-button {
  width: 1168px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--body-text-size);
  color: var(--color-darkslategray-100);
}
.events-list,
.events3 {
  flex-direction: column;
  justify-content: flex-start;
}
.events-list {
  width: 1219px;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-base);
}
.events3 {
  align-self: stretch;
  overflow: hidden;
  padding: var(--padding-43xl) 102px 0;
  box-sizing: border-box;
  gap: 61px;
}
.progress-visual {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 4px 24.9px rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  background-color: rgba(255, 255, 255, 0.35);
}
.tracking-hours {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  z-index: 1;
}
.track-hours-title {
  width: 991px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.log-entries-child {
  width: 375px;
  height: 377px;
  position: relative;
  border-radius: var(--br-xs);
  display: none;
  max-width: 100%;
}
.volunteering-details {
  width: 236px;
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.volunteer-headings {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-13xl) var(--padding-8xs);
  font-size: var(--font-size-5xl);
}
.place-nairobi-usiu-africa {
  width: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.event-usiu-freida,
.hours-4-hours,
.place-nairobi-usiu-africa {
  position: relative;
  line-height: 31px;
  font-weight: 500;
  z-index: 1;
}
.event-usiu-freida {
  align-self: stretch;
}
.hours-4-hours {
  width: 278px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hours-info,
.log-entries {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.log-entries {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--white);
  flex-direction: column;
  padding: var(--padding-50xl) var(--padding-18xl) var(--padding-53xl)
    var(--padding-19xl);
  gap: 34px;
  max-height: 90%;
  overflow: auto;
}
.hours-info {
  width: 375px;
  box-shadow: 0 4px 14.9px rgba(0, 0, 0, 0.15);
  flex-direction: row;
  padding: 0;
  opacity: 0.75;
  z-index: 1;
}
.rectangle-icon {
  width: 375px;
  height: 377px;
  position: relative;
  border-radius: var(--br-xs);
  display: none;
  max-width: 100%;
}
.volunteering-details1 {
  width: 236px;
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.volunteering-details-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-13xl);
}
.place-nairobi-hospital {
  width: 290px;
  line-height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.event-cleaning-and,
.hours-15-hours,
.place-nairobi-hospital {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.event-cleaning-and {
  align-self: stretch;
  line-height: 150%;
}
.hours-15-hours {
  width: 278px;
  line-height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.place-nairobi-hospital-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
  font-size: var(--body-text-size);
}
.hour-information,
.hours-info1,
.vector-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.vector-parent {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--white);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-50xl) var(--padding-18xl) var(--padding-53xl)
    var(--padding-19xl);
  box-sizing: border-box;
  gap: var(--gap-20xl);
  max-height: 90%;
  overflow: auto;
}
.hour-information,
.hours-info1 {
  flex-direction: row;
}
.hours-info1 {
  width: 375px;
  box-shadow: 0 4px 14.9px rgba(0, 0, 0, 0.15);
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  opacity: 0.75;
  z-index: 1;
  font-size: var(--font-size-5xl);
}
.hour-information {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--body-text-size);
}
.track-hours-details {
  width: 1002px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-38xl);
  max-width: 100%;
}
.updateadmin {
  position: relative;
  font-size: var(--body-text-size);
  letter-spacing: 0.15em;
  line-height: 150%;
  font-weight: 600;
  font-family: var(--body-text);
  color: var(--color-whitesmoke);
  text-align: center;
}
.button8,
.update-admin-button {
  flex-direction: row;
  align-items: flex-start;
}
.button8 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-45xl);
  background-color: var(--color-darkslategray-100);
  box-shadow: var(--button-shadow);
  border-radius: var(--br-xl);
  display: flex;
  justify-content: flex-start;
  z-index: 1;
}
.button8:hover {
  background-color: var(--color-teal);
}
.update-admin-button {
  width: 1002px;
  justify-content: center;
  padding: 0 0 0 var(--padding-3xs);
}
.track-hours,
.track-hours-wrapper,
.update-admin-button {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.track-hours {
  width: 1178px;
  border-radius: var(--br-xs);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-19xl) var(--padding-11xl) var(--padding-19xl)
    var(--padding-xl);
  position: relative;
  gap: 84px;
  background-image: url(./public/track-hours@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.track-hours-wrapper {
  width: 1372px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.events-content,
.events-header,
.navigation-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.events-content {
  flex: 1;
  flex-direction: column;
  gap: 92px;
}
.events-header,
.navigation-parent {
  align-self: stretch;
}
.events-header {
  flex-direction: row;
  padding: 0 var(--padding-11xs) 0 var(--padding-10xs);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--heading-size);
}
.navigation-parent {
  flex-direction: column;
  text-align: left;
  font-size: var(--body-text-size);
  color: var(--colors-black-900);
  font-family: var(--body-text);
}
.image-3-icon {
  width: 1440px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 103%;
  flex-shrink: 0;
}
.home,
.opportunities-header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.opportunities-header {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-17xl);
  max-width: 100%;
}
.home {
  width: 100%;
  position: relative;
  background-color: var(--white);
  overflow: hidden;
  flex-direction: column;
  padding: 0 0 78px;
  gap: 216px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1275px) {
  .navigation2 {
    gap: 321px;
  }
  .section-1 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .category-list {
    flex-wrap: wrap;
  }
  .opportunity-categories {
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .section-1-parent {
    padding-bottom: var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1100px) {
  .opportunities {
    padding-top: var(--padding-34xl);
    padding-bottom: var(--padding-14xl);
    box-sizing: border-box;
  }
  .section-1-parent {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .cards {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(289px, 500px));
  }
  .hour-information {
    flex-wrap: wrap;
    justify-content: center;
  }
  .track-hours {
    gap: 42px;
  }
}
@media screen and (max-width: 750px) {
  .navigation-menu {
    display: none;
  }
  .home-navigation {
    width: 0;
  }
  .navigation2 {
    gap: 160px;
  }
  .find-opportunities-to-container {
    font-size: var(--font-size-10xl);
    line-height: 43px;
  }
  .volunteer-opportunities-parent {
    gap: var(--gap-13xl);
  }
  .image-2-icon,
  .section-1-inner {
    min-width: 100%;
  }
  .section-1 {
    padding-top: var(--padding-21xl);
    padding-bottom: var(--padding-10xl);
    box-sizing: border-box;
  }
  .find-volunteer-opportunities {
    font-size: var(--font-size-13xl);
    line-height: 35px;
  }
  .category-list {
    gap: var(--gap-20xl);
  }
  .opportunities {
    gap: var(--gap-19xl);
  }
  .current-events {
    font-size: var(--font-size-13xl);
    line-height: 35px;
  }
  .cards,
  .events3 {
    box-sizing: border-box;
  }
  .cards {
    gap: var(--spacing-sm);
    padding-bottom: var(--padding-30xl);
    grid-template-columns: minmax(289px, 1fr);
  }
  .events3 {
    gap: var(--gap-11xl);
    padding-left: var(--padding-32xl);
    padding-top: var(--padding-21xl);
    padding-right: var(--padding-32xl);
  }
  .tracking-hours {
    font-size: var(--font-size-13xl);
    line-height: 48px;
  }
  .track-hours-details {
    gap: var(--gap-9xl);
  }
  .track-hours {
    gap: var(--gap-2xl);
    padding-top: var(--padding-6xl);
    padding-bottom: var(--padding-6xl);
    box-sizing: border-box;
  }
  .events-content {
    gap: var(--gap-27xl);
  }
  .home {
    gap: 108px;
  }
}
@media screen and (max-width: 450px) {
  .navigation2 {
    gap: 80px;
  }
  .discover {
    font-size: var(--font-size-base);
    line-height: 24px;
  }
  .find-opportunities-to-container {
    font-size: var(--font-size-3xl);
    line-height: 32px;
  }
  .volunteer-opportunities-parent {
    gap: var(--gap-base);
  }
  .find-volunteer-opportunities {
    font-size: var(--font-size-5xl);
    line-height: 26px;
  }
  .childrens-homes,
  .elderly-homes,
  .hospitals-clinics {
    font-size: var(--font-size-lgi);
    line-height: 21px;
  }
  .category-list {
    gap: var(--gap-lgi);
  }
  .button6 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .opportunities {
    gap: var(--gap-lgi);
    padding-top: var(--padding-15xl);
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
  .current-events {
    font-size: var(--font-size-5xl);
    line-height: 26px;
  }
  .planting-trees {
    font-size: var(--font-size-base);
    line-height: 24px;
  }
  .events4 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-9xl);
    box-sizing: border-box;
  }
  .childrens-clothes-donation {
    font-size: var(--font-size-base);
    line-height: 24px;
  }
  .events5 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-9xl);
    box-sizing: border-box;
  }
  .usiu-frieda-browns {
    font-size: var(--font-size-base);
    line-height: 24px;
  }
  .events3,
  .events6 {
    box-sizing: border-box;
  }
  .events6 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-9xl);
  }
  .events3 {
    gap: var(--gap-mini);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
  }
  .tracking-hours {
    font-size: var(--font-size-5xl);
    line-height: 36px;
  }
  .volunteering-details {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .event-usiu-freida,
  .hours-4-hours,
  .place-nairobi-usiu-africa {
    font-size: var(--font-size-base);
    line-height: 24px;
  }
  .log-entries {
    gap: var(--gap-mid);
    padding-top: var(--padding-26xl);
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }
  .volunteering-details1 {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .event-cleaning-and,
  .hours-15-hours,
  .place-nairobi-hospital {
    font-size: var(--font-size-base);
    line-height: 24px;
  }
  .vector-parent {
    gap: var(--gap-lgi);
    padding-top: var(--padding-26xl);
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }
  .updateadmin {
    font-size: var(--font-size-base);
    line-height: 24px;
  }
  .button8 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .events-content {
    gap: var(--gap-4xl);
  }
  .home {
    gap: 54px;
  }
}
