.input-label {
  width: 401px;
  height: 36px;
  font-weight: 500;
  display: none;
  max-width: 100%;
}
.input-label,
.input-value {
  position: relative;
}
.input-value-wrapper {
  width: 700px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-3xs);
  max-width: 100%;
  color: var(--color-gray-100);
}
.input-information {
  width: 210px;
  position: relative;
  font-size: var(--font-size-7xl);
  color: var(--color-dimgray);
  display: none;
}
.input-label-parent {
  width: 548px;
  height: 151px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
  z-index: 0;
}
.drag-icon {
  width: 56.5px;
  height: 56.5px;
  position: absolute;
  margin: 0 !important;
  right: 51.5px;
  bottom: 269.5px;
  object-fit: contain;
}
.home-find-organizations1 {
  white-space: pre-wrap;
  flex-shrink: 0;
}
.donate2,
.events5,
.home-find-organizations1 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.home-find-organizations-parent,
.navigation-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-find-organizations-parent {
  flex-direction: row;
  gap: var(--gap-29xl);
}
.navigation-inner {
  flex-direction: column;
  padding: 16.5px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.logo-1-icon2 {
  height: 94px;
  width: 114px;
  position: relative;
  object-fit: cover;
}
.navigation2 {
  align-self: stretch;
  background-color: var(--color-cadetblue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-9xl) var(--padding-xl) var(--padding-14xl) 79px;
  box-sizing: border-box;
  gap: 457px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--white);
  font-family: var(--body-text);
}
.volunteer-sign-up {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 55px;
  font-weight: 700;
  font-family: inherit;
}
.you-will-be,
.your-placement-and {
  display: block;
}
.you-will-be-container {
  margin: 0;
  height: 70px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.you-will-be-contacted-when-we-wrapper {
  width: 667px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--body-text-size);
}
.frame-wrapper1,
.volunteer-sign-up-form-parent,
.you-will-be-contacted-when-we-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.volunteer-sign-up-form-parent {
  width: 790px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-22xl);
}
.frame-wrapper1 {
  width: 1012px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-lgi);
  box-sizing: border-box;
  font-size: 60px;
  color: var(--colors-black-900);
}
.input-label1,
.input-value1 {
  height: 36px;
  position: relative;
  display: inline-block;
}
.input-label1 {
  font-weight: 500;
}
.input-value1 {
  width: 382px;
  border: 0;
  outline: 0;
  font-family: var(--body-text);
  font-size: var(--font-size-11xl);
  background-color: transparent;
  color: var(--color-gray-100);
  text-align: left;
  max-width: 100%;
  padding: 0;
}
.input-value-container {
  align-self: stretch;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-3xs);
  max-width: 100%;
}
.input-information1 {
  height: 31px;
  position: absolute;
  margin: 0 !important;
  bottom: -20px;
  left: 0;
  font-size: var(--font-size-7xl);
  color: var(--color-dimgray);
  display: inline-block;
}
.input-fields2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-16xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.input-label2,
.input-value2 {
  height: 36px;
  position: relative;
  display: inline-block;
}
.input-label2 {
  font-weight: 500;
}
.input-value2 {
  width: 427px;
  border: 0;
  outline: 0;
  font-family: var(--body-text);
  font-size: var(--font-size-11xl);
  background-color: transparent;
  color: var(--color-gray-100);
  text-align: left;
  max-width: 100%;
  padding: 0;
}
.double-input-value-container {
  align-self: stretch;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-3xs);
  max-width: 100%;
}
.input-information2 {
  position: absolute;
  margin: 0 !important;
  bottom: -20px;
  left: 0;
  font-size: var(--font-size-7xl);
  color: var(--color-dimgray);
  white-space: nowrap;
}
.checkbox-options,
.input-fields3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.input-fields3 {
  align-self: stretch;
  padding: 0 0 var(--padding-16xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xl);
}
.checkbox-options {
  flex: 1;
  gap: var(--gap-34xl);
  min-width: 357px;
}
.input-value3 {
  width: 380px;
  border: 0;
  outline: 0;
  font-family: var(--body-text);
  font-size: var(--font-size-11xl);
  background-color: transparent;
  height: 36px;
  position: relative;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  max-width: 100%;
  padding: 0;
}
.short-input-value-container {
  align-self: stretch;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-3xs);
  max-width: 100%;
}
.input-information3 {
  height: 31px;
  position: relative;
  display: inline-block;
}
.short-input-value-container-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.instance-wrapper {
  width: 512px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-7xs);
  box-sizing: border-box;
  max-width: 100%;
}
.input-label3,
.input-value4 {
  height: 36px;
  position: relative;
  display: inline-block;
}
.input-label3 {
  font-weight: 500;
  flex-shrink: 0;
  debug_commit: 69da668;
}
.input-value4 {
  width: 75px;
  border: 0;
  outline: 0;
  font-family: var(--body-text);
  font-size: var(--font-size-11xl);
  background-color: transparent;
  color: var(--color-gray-100);
  text-align: left;
  white-space: nowrap;
  padding: 0;
}
.second-double-value-container {
  align-self: stretch;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-3xs);
  flex-shrink: 0;
  debug_commit: 69da668;
}
.frame-parent5,
.input-fields4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.input-fields4 {
  height: 85px;
  align-items: flex-start;
  padding: 0 0 var(--padding-30xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  font-size: var(--font-size-11xl);
  color: var(--color-gray-200);
}
.frame-parent5 {
  align-items: flex-end;
  gap: 33px;
  max-width: 100%;
}
.checkbox-options-parent,
.frame-wrapper2 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-wrapper2 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-41xl) 0 0;
  box-sizing: border-box;
  min-width: 357px;
  font-size: var(--font-size-7xl);
  color: var(--color-dimgray);
}
.checkbox-options-parent {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-16xl);
}
.input-label4,
.input-value5 {
  height: 36px;
  position: relative;
  display: inline-block;
}
.input-label4 {
  font-weight: 500;
}
.input-value5 {
  width: 159px;
  border: 0;
  outline: 0;
  font-family: var(--body-text);
  font-size: var(--font-size-11xl);
  background-color: transparent;
  color: var(--color-gray-100);
  text-align: left;
  padding: 0;
}
.single-input-value-container {
  align-self: stretch;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-3xs);
}
.input-information4 {
  height: 31px;
  position: absolute;
  margin: 0 !important;
  bottom: -20px;
  left: 0;
  font-size: var(--font-size-7xl);
  color: var(--color-dimgray);
  display: inline-block;
}
.input-label-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-16xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.frame-parent4,
.upload-area {
  align-self: stretch;
  display: flex;
  max-width: 100%;
}
.upload-area {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.frame-parent4 {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-34xl);
}
.input-value6 {
  width: 159px;
  border: 0;
  outline: 0;
  font-family: var(--body-text);
  font-size: var(--font-size-11xl);
  background-color: transparent;
  height: 36px;
  position: relative;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.combined-input-values {
  flex: 1;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-3xs);
  max-width: 100%;
}
.input-information5 {
  position: absolute;
  margin: 0 !important;
  bottom: -14px;
  left: 0;
}
.input-fields5 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-22xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xl);
  min-width: 357px;
  max-width: 100%;
}
.input-value7 {
  width: 159px;
  border: 0;
  outline: 0;
  font-family: var(--body-text);
  font-size: var(--font-size-11xl);
  background-color: transparent;
  height: 36px;
  position: relative;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.input-value-frame {
  flex: 1;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-3xs);
  max-width: 100%;
}
.input-information6 {
  position: absolute;
  margin: 0 !important;
  bottom: -14px;
  left: 0;
}
.frame-parent6,
.input-field-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-parent6 {
  flex: 1;
  padding: 0 0 var(--padding-22xl);
  position: relative;
  gap: var(--gap-5xl);
  min-width: 352px;
}
.input-field-container {
  align-self: stretch;
  flex-wrap: wrap;
  padding: 0 0 var(--padding-xs);
  gap: var(--gap-19xl);
  font-size: var(--font-size-7xl);
  color: var(--color-dimgray);
}
.input-label5 {
  width: 238px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 69da668;
}
.input-value8 {
  align-self: stretch;
  position: relative;
}
.input-value-wrapper1 {
  height: 56px;
  width: 700px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  max-width: 100%;
  color: var(--color-gray-100);
}
.input-information7 {
  align-self: stretch;
  width: 210px;
  position: relative;
  font-size: var(--font-size-7xl);
  color: var(--color-dimgray);
  display: none;
  flex-shrink: 0;
}
.input-fields6 {
  width: 187px;
  height: 31px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.radio-button-circle {
  width: 32px;
  height: 32px;
  position: relative;
  border-radius: 50%;
  background-color: var(--white);
  border: 0 solid var(--color-gray-100);
  box-sizing: border-box;
}
.radio-button-element {
  height: 29.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-5) 0 0;
  box-sizing: border-box;
}
.input-label6 {
  width: 160px;
  position: relative;
  font-weight: 500;
  display: none;
}
.input-value9 {
  align-self: stretch;
  position: relative;
}
.input-value-wrapper2 {
  height: 56px;
  width: 700px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  max-width: 100%;
  color: var(--color-gray-100);
}
.input-information8 {
  height: 31px;
  position: relative;
  font-size: var(--font-size-7xl);
  color: var(--color-dimgray);
  display: inline-block;
}
.input-fields7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.second-radio-button-circle {
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0 !important;
  bottom: 5px;
  left: 4px;
  border-radius: 50%;
  background-color: var(--color-gray-100);
  z-index: 1;
}
.radio-button-item,
.radio-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.radio-button-item {
  position: relative;
  gap: var(--gap-xl);
}
.radio-buttons {
  height: 27px;
  padding: 0 var(--padding-18xl) 0 0;
  box-sizing: border-box;
}
.third-radio-button-circle {
  margin-left: -48px;
  height: 32px;
  width: 32px;
  position: relative;
  border-radius: 50%;
  background-color: var(--white);
  border: 0 solid var(--color-gray-100);
  box-sizing: border-box;
  flex-shrink: 0;
  debug_commit: 69da668;
}
.input-label7 {
  width: 160px;
  position: relative;
  font-weight: 500;
  display: none;
}
.input-value10 {
  align-self: stretch;
  position: relative;
}
.input-value-wrapper3 {
  height: 56px;
  width: 700px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  max-width: 100%;
  color: var(--color-gray-100);
}
.input-information9 {
  height: 31px;
  position: relative;
  font-size: var(--font-size-7xl);
  color: var(--color-dimgray);
  display: inline-block;
}
.dual-input-container,
.input-fields8,
.radio-buttons1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.input-fields8 {
  margin-top: -2px;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  flex-shrink: 0;
  debug_commit: 69da668;
}
.dual-input-container,
.radio-buttons1 {
  gap: var(--gap-xl);
}
.radio-buttons1 {
  height: 27px;
  width: 65px;
  justify-content: flex-start;
  padding: 0 var(--padding-19xl);
  box-sizing: border-box;
}
.dual-input-container {
  align-self: stretch;
  justify-content: space-between;
}
.checkbox-container,
.checkbox-container-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.checkbox-container {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-12xl);
}
.checkbox-container-wrapper {
  width: 266px;
  flex-direction: row;
  padding: 0 var(--padding-6xs) var(--padding-xs);
  box-sizing: border-box;
}
.input-label8 {
  width: 738px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 69da668;
  max-width: 128%;
}
.input-value11 {
  align-self: stretch;
  position: relative;
}
.input-value-wrapper4 {
  height: 56px;
  width: 700px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  max-width: 100%;
  color: var(--color-gray-100);
}
.input-information10 {
  align-self: stretch;
  width: 210px;
  position: relative;
  font-size: var(--font-size-7xl);
  color: var(--color-dimgray);
  display: none;
}
.input-label-container {
  align-self: stretch;
  height: 31px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.checkbox-circle {
  width: 32px;
  height: 32px;
  position: relative;
  border-radius: 50%;
  background-color: var(--white);
  border: 0 solid var(--color-gray-100);
  box-sizing: border-box;
}
.checkbox-circle-wrapper {
  height: 29.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-5) 0 0;
  box-sizing: border-box;
}
.input-label9 {
  width: 160px;
  position: relative;
  font-weight: 500;
  display: none;
}
.input-value12 {
  align-self: stretch;
  position: relative;
}
.input-value-wrapper5 {
  height: 56px;
  width: 700px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  max-width: 100%;
  color: var(--color-gray-100);
}
.input-information11 {
  height: 31px;
  position: relative;
  font-size: var(--font-size-7xl);
  color: var(--color-dimgray);
  display: inline-block;
}
.input-fields9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.second-checkbox-circle {
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0 !important;
  bottom: 5px;
  left: 4px;
  border-radius: 50%;
  background-color: var(--color-gray-100);
  z-index: 1;
}
.checkbox-item,
.checkbox-item-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.checkbox-item {
  position: relative;
  gap: var(--gap-xl);
}
.checkbox-item-wrapper {
  height: 27px;
  padding: 0 var(--padding-18xl) 0 0;
  box-sizing: border-box;
}
.third-checkbox-circle {
  margin-left: -48px;
  height: 32px;
  width: 32px;
  position: relative;
  border-radius: 50%;
  background-color: var(--white);
  border: 0 solid var(--color-gray-100);
  box-sizing: border-box;
  flex-shrink: 0;
  debug_commit: 69da668;
}
.input-label10 {
  width: 160px;
  position: relative;
  font-weight: 500;
  display: none;
}
.input-value13 {
  align-self: stretch;
  position: relative;
}
.input-value-wrapper6 {
  height: 56px;
  width: 700px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  max-width: 100%;
  color: var(--color-gray-100);
}
.input-information12 {
  height: 31px;
  position: relative;
  font-size: var(--font-size-7xl);
  color: var(--color-dimgray);
  display: inline-block;
}
.input-fields10 {
  margin-top: -2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  flex-shrink: 0;
  debug_commit: 69da668;
}
.input-combination,
.third-checkbox-circle-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-xl);
}
.third-checkbox-circle-parent {
  height: 27px;
  width: 65px;
  justify-content: flex-start;
  padding: 0 var(--padding-19xl);
  box-sizing: border-box;
}
.input-combination {
  width: 252px;
  justify-content: space-between;
}
.dual-input-label-container,
.dual-input-label-container-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.dual-input-label-container {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.dual-input-label-container-wrapper {
  width: 593px;
  flex-direction: row;
  padding: 0 var(--padding-6xs) var(--padding-6xs);
  box-sizing: border-box;
}
.input-label11,
.input-value14 {
  position: relative;
  display: inline-block;
}
.input-label11 {
  font-weight: 500;
  max-width: 100%;
}
.input-value14 {
  width: 159px;
  border: 0;
  outline: 0;
  font-family: var(--body-text);
  font-size: var(--font-size-11xl);
  background-color: transparent;
  height: 36px;
  color: var(--color-gray-100);
  text-align: left;
  padding: 0;
}
.double-input-value-container1,
.input-fields11 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.double-input-value-container1 {
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-100);
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-3xs);
}
.input-fields11 {
  flex-direction: column;
  padding: 0 0 var(--padding-20xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.input-label12,
.input-value15 {
  position: relative;
  display: inline-block;
}
.input-label12 {
  font-weight: 500;
  max-width: 100%;
}
.input-value15 {
  width: 159px;
  border: 0;
  outline: 0;
  font-family: var(--body-text);
  font-size: var(--font-size-11xl);
  background-color: transparent;
  height: 36px;
  color: var(--color-gray-100);
  text-align: left;
  padding: 0;
}
.input-label-parent1,
.input-value-wrapper7 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-value-wrapper7 {
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-100);
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-3xs);
}
.input-label-parent1 {
  flex-direction: column;
  padding: 0 0 var(--padding-20xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  max-width: 100%;
  z-index: 1;
}
.input-label13 {
  width: 493px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 69da668;
  max-width: 128%;
}
.input-value16 {
  align-self: stretch;
  position: relative;
}
.input-value-wrapper8 {
  height: 56px;
  width: 700px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  max-width: 100%;
  color: var(--color-gray-100);
}
.input-information13 {
  height: 31px;
  width: 210px;
  position: relative;
  font-size: var(--font-size-7xl);
  color: var(--color-dimgray);
  display: none;
  flex-shrink: 0;
}
.input-fields-parent,
.input-label-parent2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.input-label-parent2 {
  width: 387px;
  height: 32px;
  flex-direction: row;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.input-fields-parent {
  width: 710px;
  flex-direction: column;
  text-align: left;
}
.sign-up-header-child {
  width: 1064px;
  height: 231px;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  border: 1px dashed var(--color-dimgray);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.upload-to-the-cloud {
  height: 95px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.double-radio-buttons {
  width: 138px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xl) 0 var(--padding-5xl);
  box-sizing: border-box;
}
.upload-a-file {
  width: 138px;
  height: 67px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.sign-up-header {
  align-self: stretch;
  background-color: var(--color-whitesmoke-100);
  border: 1px dashed var(--color-dimgray);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-30xl) var(--padding-xl) var(--padding-26xl) 95px;
  gap: var(--gap-6xs);
  max-width: 100%;
  font-size: 28px;
  color: var(--color-dimgray);
}
.drag-and-drop {
  height: 58px;
  width: 214px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.drag-and-drop-files-here-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 115px;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-100);
}
.upload-container,
.upload-container-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.upload-container {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-9xl);
}
.upload-container-wrapper {
  width: 1077px;
  flex-direction: row;
  padding: 0 var(--padding-6xs);
  box-sizing: border-box;
  text-align: center;
}
.dropdown-label {
  flex-shrink: 0;
  debug_commit: 69da668;
  max-width: 100%;
}
.dropdown-label,
.select-value {
  height: 36px;
  position: relative;
  display: inline-block;
}
.dropdown-select {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.expand-arrow-icon {
  height: 44px;
  width: 44px;
  position: relative;
  object-fit: contain;
}
.skills-selection {
  align-self: stretch;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-5xs) var(--padding-2xs) var(--padding-5xs)
    var(--padding-4xs);
  gap: var(--gap-xl);
}
.option-a {
  position: relative;
}
.skill-items {
  align-self: stretch;
  border-radius: var(--br-8xs);
  border-bottom: 1px solid var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-5xs);
}
.option-b {
  position: relative;
}
.skill-items1 {
  align-self: stretch;
  border-radius: var(--br-8xs);
  border-bottom: 1px solid var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-5xs);
}
.option-c {
  position: relative;
}
.skill-items2 {
  align-self: stretch;
  border-radius: var(--br-8xs);
  border-bottom: 1px solid var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-5xs);
}
.option-d {
  position: relative;
}
.skill-items3 {
  align-self: stretch;
  border-radius: var(--br-8xs);
  border-bottom: 1px solid var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-5xs);
}
.option-e {
  position: relative;
}
.dropdown-container,
.skill-items4,
.skills-options {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.skill-items4 {
  align-self: stretch;
  border-radius: var(--br-8xs);
  border-bottom: 1px solid var(--color-gray-100);
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-5xs);
}
.dropdown-container,
.skills-options {
  flex-direction: column;
}
.skills-options {
  align-self: stretch;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-gray-100);
  overflow: hidden;
}
.dropdown-container {
  width: 700px;
  flex-shrink: 0;
  debug_commit: 69da668;
  max-width: 128%;
  color: var(--color-gray-100);
}
.dropdown {
  width: 549px;
  flex-direction: column;
  padding: 0 0 var(--padding-64xl);
  box-sizing: border-box;
  gap: var(--gap-16xl);
}
.dropdown,
.experience-dropdown,
.radio-button-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.experience-dropdown {
  flex-direction: row;
  padding: 0 var(--padding-6xs);
  box-sizing: border-box;
  color: var(--colors-black-900);
}
.radio-button-container {
  flex: 1;
  flex-direction: column;
  gap: 47px;
}
.radio-button-container-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-9xs) 231px var(--padding-7xs);
  box-sizing: border-box;
  max-width: 100%;
}
.dropdown-label1,
.select-value1 {
  position: relative;
  display: inline-block;
}
.dropdown-label1 {
  width: 597px;
  flex-shrink: 0;
  debug_commit: 69da668;
  max-width: 109%;
}
.select-value1 {
  height: 36px;
}
.experience-value-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.expand-arrow-icon1 {
  height: 44px;
  width: 44px;
  position: relative;
  object-fit: contain;
}
.experience-selection {
  align-self: stretch;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-5xs) var(--padding-2xs) var(--padding-5xs)
    var(--padding-4xs);
  gap: var(--gap-xl);
}
.option-a1 {
  align-self: stretch;
  width: 208px;
  position: relative;
  display: inline-block;
}
.experience-items {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-8xs);
  border-bottom: 1px solid var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.option-b1 {
  align-self: stretch;
  width: 111px;
  position: relative;
  display: inline-block;
}
.experience-items1 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-8xs);
  border-bottom: 1px solid var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.option-c1 {
  align-self: stretch;
  width: 116px;
  position: relative;
  display: inline-block;
}
.experience-items2 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-8xs);
  border-bottom: 1px solid var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.option-d1 {
  align-self: stretch;
  width: 211px;
  position: relative;
  display: inline-block;
}
.experience-items3 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-8xs);
  border-bottom: 1px solid var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.option-e1 {
  align-self: stretch;
  width: 115px;
  position: relative;
  display: inline-block;
}
.experience-items4,
.experience-options {
  align-self: stretch;
  border-radius: var(--br-8xs);
}
.experience-items4 {
  flex: 1;
  border-bottom: 1px solid var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.experience-options {
  height: 280px;
  background-color: var(--white);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
}
.dropdown1,
.experience-list,
.experience-options,
.sign-up-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.experience-list {
  width: 700px;
  flex-direction: column;
  flex-shrink: 0;
  debug_commit: 69da668;
  max-width: 128%;
  color: var(--color-gray-100);
}
.dropdown1,
.sign-up-container {
  box-sizing: border-box;
  max-width: 100%;
}
.dropdown1 {
  width: 549px;
  background-color: var(--white);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: 0 0 var(--padding-64xl);
  gap: var(--gap-16xl);
}
.sign-up-container {
  flex-direction: row;
  padding: 0 13px;
}
.input-label14 {
  width: 606px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 69da668;
  max-width: 128%;
}
.input-value17 {
  align-self: stretch;
  position: relative;
}
.input-value-wrapper9 {
  height: 56px;
  width: 700px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  max-width: 100%;
  color: var(--color-gray-100);
}
.input-information14 {
  height: 31px;
  width: 210px;
  position: relative;
  font-size: var(--font-size-7xl);
  color: var(--color-dimgray);
  display: none;
  flex-shrink: 0;
}
.input-label-parent3 {
  width: 475px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.availability-calendar {
  align-self: stretch;
  height: 266px;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
}
.availability-field {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-6xs);
  box-sizing: border-box;
  gap: 29px;
  max-width: 100%;
  color: var(--color-gray-200);
}
.submit-form {
  height: 44px;
  position: relative;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  font-family: var(--body-text);
  color: var(--white);
  text-align: left;
  display: inline-block;
}
.button8 {
  cursor: pointer;
  border: 1px solid #e8e8e8;
  padding: var(--padding-mid) var(--padding-45xl);
  background-color: var(--color-darkslategray-100);
  width: 361px;
  border-radius: var(--br-xl);
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-start;
  white-space: nowrap;
}
.button8:hover {
  background-color: var(--color-teal);
  border: 1px solid #cfcfcf;
  box-sizing: border-box;
}
.button-frame,
.button8,
.experience-dropdown-container {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.button-frame {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 110px;
  box-sizing: border-box;
}
.experience-dropdown-container {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 55px;
}
.experience-dropdown-container-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-6xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  color: var(--colors-black-900);
}
.sign-up-content {
  width: 1139px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 82px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-gray-200);
  font-family: var(--body-text);
}
.form-container1,
.opportunity-volunteer-form {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.form-container1 {
  width: 1407px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
}
.opportunity-volunteer-form {
  width: 100%;
  position: relative;
  background-color: #f8f8f8;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 585px;
  gap: var(--gap-59xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-gray-200);
  font-family: var(--body-text);
}
@media screen and (max-width: 1200px) {
  .navigation2 {
    gap: 228px;
    padding-left: var(--padding-20xl);
    box-sizing: border-box;
  }
  .radio-button-container-wrapper {
    padding-bottom: 150px;
    box-sizing: border-box;
  }
  .sign-up-content {
    gap: var(--gap-22xl);
  }
}
@media screen and (max-width: 1050px) {
  .input-label,
  .input-value {
    font-size: var(--font-size-5xl);
  }
  .volunteer-sign-up {
    font-size: var(--font-size-29xl);
  }
  .dropdown-label,
  .dropdown-label1,
  .input-label1,
  .input-label10,
  .input-label11,
  .input-label12,
  .input-label13,
  .input-label14,
  .input-label2,
  .input-label3,
  .input-label4,
  .input-label5,
  .input-label6,
  .input-label7,
  .input-label8,
  .input-label9,
  .input-value1,
  .input-value10,
  .input-value11,
  .input-value12,
  .input-value13,
  .input-value14,
  .input-value15,
  .input-value16,
  .input-value17,
  .input-value2,
  .input-value3,
  .input-value4,
  .input-value5,
  .input-value6,
  .input-value7,
  .input-value8,
  .input-value9,
  .option-a,
  .option-a1,
  .option-b,
  .option-b1,
  .option-c,
  .option-c1,
  .option-d,
  .option-d1,
  .option-e,
  .option-e1,
  .select-value,
  .select-value1 {
    font-size: var(--font-size-5xl);
  }
  .opportunity-volunteer-form {
    gap: var(--gap-20xl);
  }
}
@media screen and (max-width: 750px) {
  .home-find-organizations-parent {
    gap: var(--gap-5xl);
  }
  .navigation2 {
    gap: 114px;
  }
  .checkbox-options {
    gap: var(--gap-7xl);
  }
  .frame-parent5 {
    gap: var(--gap-base);
  }
  .checkbox-options-parent {
    gap: var(--gap-mid);
  }
  .frame-parent4 {
    gap: var(--gap-7xl);
  }
  .input-field-container {
    gap: var(--gap-lgi);
  }
  .dropdown {
    gap: var(--gap-mid);
    padding-bottom: var(--padding-35xl);
    box-sizing: border-box;
  }
  .radio-button-container {
    gap: var(--gap-4xl);
  }
  .radio-button-container-wrapper {
    padding-bottom: 97px;
    box-sizing: border-box;
  }
  .dropdown1 {
    gap: var(--gap-mid);
    padding-bottom: var(--padding-35xl);
    box-sizing: border-box;
  }
  .button-frame {
    padding-left: var(--padding-36xl);
    box-sizing: border-box;
  }
  .experience-dropdown-container {
    gap: 27px;
  }
  .sign-up-content {
    gap: var(--gap-xl);
  }
}
@media screen and (max-width: 450px) {
  .input-label,
  .input-value {
    font-size: var(--font-size-lg);
  }
  .input-information {
    font-size: var(--font-size-2xl);
  }
  .navigation2 {
    gap: var(--gap-38xl);
  }
  .volunteer-sign-up {
    font-size: var(--font-size-17xl);
  }
  .you-will-be-container {
    font-size: var(--font-size-base);
  }
  .volunteer-sign-up-form-parent {
    gap: var(--gap-xl);
  }
  .input-label1,
  .input-value1 {
    font-size: var(--font-size-lg);
  }
  .input-information1 {
    font-size: var(--font-size-2xl);
  }
  .input-label2,
  .input-value2 {
    font-size: var(--font-size-lg);
  }
  .input-information2 {
    font-size: var(--font-size-2xl);
  }
  .checkbox-options {
    min-width: 100%;
  }
  .input-value3 {
    font-size: var(--font-size-lg);
  }
  .input-information3 {
    font-size: var(--font-size-2xl);
  }
  .input-label3,
  .input-value4 {
    font-size: var(--font-size-lg);
  }
  .frame-wrapper2 {
    min-width: 100%;
  }
  .input-label4,
  .input-value5 {
    font-size: var(--font-size-lg);
  }
  .input-information4 {
    font-size: var(--font-size-2xl);
  }
  .input-value6 {
    font-size: var(--font-size-lg);
  }
  .input-information5 {
    font-size: var(--font-size-2xl);
  }
  .input-fields5 {
    min-width: 100%;
  }
  .input-value7 {
    font-size: var(--font-size-lg);
  }
  .input-information6 {
    font-size: var(--font-size-2xl);
  }
  .frame-parent6 {
    min-width: 100%;
  }
  .input-label5,
  .input-value8 {
    font-size: var(--font-size-lg);
  }
  .input-information7 {
    font-size: var(--font-size-2xl);
  }
  .input-label6,
  .input-value9 {
    font-size: var(--font-size-lg);
  }
  .input-information8 {
    font-size: var(--font-size-2xl);
  }
  .input-label7,
  .input-value10 {
    font-size: var(--font-size-lg);
  }
  .input-information9 {
    font-size: var(--font-size-2xl);
  }
  .checkbox-container {
    gap: var(--gap-mini);
  }
  .input-label8,
  .input-value11 {
    font-size: var(--font-size-lg);
  }
  .input-information10 {
    font-size: var(--font-size-2xl);
  }
  .input-label9,
  .input-value12 {
    font-size: var(--font-size-lg);
  }
  .input-information11 {
    font-size: var(--font-size-2xl);
  }
  .input-label10,
  .input-value13 {
    font-size: var(--font-size-lg);
  }
  .input-information12 {
    font-size: var(--font-size-2xl);
  }
  .input-label11,
  .input-label12,
  .input-label13,
  .input-value14,
  .input-value15,
  .input-value16 {
    font-size: var(--font-size-lg);
  }
  .input-information13 {
    font-size: var(--font-size-2xl);
  }
  .upload-a-file {
    font-size: var(--font-size-3xl);
  }
  .sign-up-header {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .drag-and-drop {
    font-size: var(--font-size-lgi);
  }
  .drag-and-drop-files-here-wrapper {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .dropdown-label,
  .select-value {
    font-size: var(--font-size-lg);
  }
  .skills-selection {
    flex-wrap: wrap;
  }
  .option-a,
  .option-b,
  .option-c,
  .option-d,
  .option-e {
    font-size: var(--font-size-lg);
  }
  .dropdown {
    height: auto;
  }
  .dropdown-label1,
  .select-value1 {
    font-size: var(--font-size-lg);
  }
  .experience-selection {
    flex-wrap: wrap;
  }
  .option-a1,
  .option-b1,
  .option-c1,
  .option-d1,
  .option-e1 {
    font-size: var(--font-size-lg);
  }
  .dropdown1 {
    height: auto;
  }
  .input-label14,
  .input-value17 {
    font-size: var(--font-size-lg);
  }
  .input-information14 {
    font-size: var(--font-size-2xl);
  }
  .button8 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .opportunity-volunteer-form {
    gap: var(--gap-lgi);
  }
}
